{#
/**
 * @file
 * Template for the Opening Hours : OpenNow formatter.
 *
 * Available variables:
 * - preview_widget : Contains the preview widget.
 * - widgets : The widgets to show.
 * - service_id : The opening hours Service ID.
 * - channel_id : The opening hours Channel ID.
 * - date : The date to show the widget for.
 * - from : The start date of the period that should be considered open.
 * - until : The end (last) date of the period that should be considered open.
 *
 * @see template_preprocess_opening_hours_widget()
 *
 * @ingroup themeable
 */
#}

<div class="openinghours-wrapper">
  {% if display_title %}
    <h3 class="openinghours-channel-title" data-service="{{ service_id }}"{% if not single_widget %} data-channel="{{ channel_id }}"{% endif %}></h3>
  {% endif %}

  {% if preview_widget %}
    {% block preview_widget %}
      <div
        class="openinghours-widget"
        data-type="{{ preview_widget.type }}"
        data-service="{{ service_id }}"
        {% if not single_widget %}data-channel="{{ channel_id }}"{% endif %}
        {% if date %} data-date="{{ date }}"{% endif %}
        {% if from %} data-from="{{ from }}"{% endif %}
        {% if until %} data-until="{{ until }}"{% endif %}
      ></div>
    {% endblock %}
  {% endif %}

  {% block widgets %}
    {% block widgets_navigation %}
      {% if widgets|length > 1 %}
        <div class="tabs">
          <ul class="openinghours-navigation" role="tablist">
          {% for widget in widgets %}
            <li role="presentation">
              <a
                 href="#"
                 data-widget="{{ widget.type }}"
                 role="tab"
                 {% if loop.first %}aria-selected="true"{% endif %}
              >
                {{ widget.label }}
              </a>
            </li>
          {% endfor %}
          </ul>
      {% endif %}
    {% endblock %}

    {% block widgets_content %}
        <div
          class="openinghours openinghours-widget"
          role="tabpanel"
          data-type="{{ widgets[0].type }}"
          data-service="{{ service_id }}"
          {% if not single_widget %}data-channel="{{ channel_id }}"{% endif %}
          {% if date %} data-date="{{ date }}"{% endif %}
          {% if from %} data-from="{{ from }}"{% endif %}
          {% if until %} data-until="{{ until }}"{% endif %}
        ></div>

      {% if widgets|length > 1 %}
        </div>
      {% endif %}
    {% endblock %}
  {% endblock %}
</div>
