{#
/**
 * @file
 * Template for the Opening Hours : OpenNow formatter.
 *
 * Available variables:
 * - type : The widget type to show.
 * - service_id : The opening hours Service ID.
 * - channel_id : The opening hours Channel ID.
 * - language : The language to get the output in.
 * - date : The date to show the widget for.
 *
 * @see template_preprocess_vg_social_link()
 *
 * @ingroup themeable
 */
#}
<div
  class="openinghours openinghours--{{ type }} openinghours-widget"
  data-service="{{ service_id }}"
  data-channel="{{ channel_id }}"
  data-type="{{ type }}"
  data-language="{{ language }}"
  {% if date %} data-date="{{ date }}"{% endif %}
></div>
